<component name="ArtifactManager">
  <artifact type="war" name="SpringmvcShiro:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringmvcShiro.war">
      <element id="artifact" artifact-name="SpringmvcShiro:war exploded" />
    </root>
  </artifact>
</component>